.teamAreaContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.teamAreaContainer  span {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid;
    width: fit-content;
}

.employeesCard {
    width: 1121px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.colorTeamInput {
    position: absolute;
    top: 1rem;
    right: 3rem;
}