@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary: #6278F7;
  --secondary: #95FFD4;
  --terciary: #F2F2F2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.App {
  min-width: 1440px;
  display: flex;
  flex-direction: column;
}

.myOrg {
  align-self: center;
  font-size: 2rem;
  color: var(--primary);
  margin-top: 4rem;
  border-bottom: 2px solid var(--primary);
  width: fit-content;
  padding-bottom: 0.8rem;
}

